.back{
    background-color: rgb(112, 103, 103);
}
.wheel1{
    margin-left: 400px;
    margin-top: 200px;
    position: absolute;
    
}
.wheel2{
    margin-left: 600px;
    margin-top: 200px;
    margin-bottom: 300px;
    position: absolute;
}

.structure{
    color: chartreuse;
    margin-left: 360px;
    margin-top: 150px;
    margin-bottom: 300px;
    position: absolute;
}

.stec{ color: chartreuse;
    margin-left: 760px;
    margin-top: 230px;
    position: absolute;

}

.pl {
    transform: rotate(90deg);
    margin-left: 545px;
    margin-top: 250px;
  
    position: absolute;
}
.NB{
   height: 50px;
    margin-left: 550px;
    margin-top: 190px;
    margin-bottom: 100px;
    position: absolute;
}

.gl {
    margin-left: 450px;
    margin-top: 70px;
    position: absolute;
}

.fr{
    margin-left: 160px;
    margin-top: 100px;
    position: center;
    transform: rotate(65deg);
}
.road{
    margin-left: 50px;
    margin-top: 293px;
    position: absolute;
}

.bab{opacity: 0.2;
    margin-left: 600px;
    margin-top: 100px;
    margin-bottom: 100px;
    position: absolute;
}

.bab1{opacity: 0.3;
    margin-left: 550px;
    margin-top: 175px;
    margin-bottom: 100px;
    position: absolute;
}

.bab2{opacity: 0.4;
    margin-left: 450px;
    margin-top: 190px;
    margin-bottom: 100px;
    position: absolute;
}

.bab3{opacity: 0.5;
    margin-left: 400px;
    margin-top: 190px;
    margin-bottom: 100px;
    position: absolute;
}
